<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
        <title>{% block title %}MIS TAREAS{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <header class="header">
        <h1><a href="{{ url_for('tasks.index') }}">MIS TAREAS</a></h1>
        <nav>
        <a class="btn" href="{{ url_for('tasks.add_task') }}">➕ Nueva Tarea</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
</main>
</body>
</html>

